<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.SongListMapper">
    <resultMap id="SongListEntityMap" type="com.app.entity.SongList">
        <id column="list_id" property="list_id"/>
        <result column="user_id" property="user_id"/>
        <result column="song_list" property="song_list"/>
        <result column="create_time" property="create_time"/>
        <result column="introduction" property="introduction"/>
    </resultMap>
</mapper>